{% extends 'epixilog/moviesBundle/views/layouts/home.html.twig' %}
{% use 'epixilog/moviesBundle/views/layouts/sidebar.html.twig' %}

{% block content %}

{% for film : films %}

	<div class="block">
                <h2>{{film.title}}</h2>
                <div class="tags-list">
                	{% for category : film.category_film %}
                			<span class="badge">{{category}}</span>
                	{% endfor %}
                </div>
                <div class="illustration">
                    <span class="fa fa-ban"></span>
                </div>
                <div class="description">
                    {{film.descirption}}
                </div>
                <div class="read-more">
                    <a class="btn btn-primary btn-small">Voir</a>
                </div>
    </div>

{% endfor %}

{% endblock %}